<settings>
<servers>
  <server>
    <id>dhaneesh-dhaneesh-repo</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>

<profiles>
  <profile>
    <id>dhaneesh-dhaneesh-repo</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>dhaneesh-dhaneesh-repo</id>
        <url>https://dhaneesh-494713367427.d.codeartifact.eu-north-1.amazonaws.com/maven/dhaneesh-repo/</url>
      </repository>
    </repositories>
  </profile>
</profiles>

<mirrors>
  <mirror>
    <id>dhaneesh-dhaneesh-repo</id>
    <name>dhaneesh-dhaneesh-repo</name>
    <url>https://dhaneesh-494713367427.d.codeartifact.eu-north-1.amazonaws.com/maven/dhaneesh-repo/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>

</settings>